@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

body {
    background-color: #F5F5F5;
}

.posts a {
    text-decoration: none;
}

.header {
    text-align: center;
    background-color: #00FFFF;
    padding-top: 30px;
    height: 150px;
    min-width: 1300px;
    border-bottom: 1px solid #d7d8db;
}

.header a {
    font-family: 'Quicksand', cursive;
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-weight: 1px;
}

.link-container {
    padding: 20px 20px 20px 50px;
    background-color: white;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d7d8db;
}

.link-container a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.content-box {
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 50px;
    background-color: #F5F5F5;
    padding: 20px 20px 20px 50px;
    width: 60%;
    border-bottom: 1px solid #d7d8db;
    text-align: justify;
}

.posts h1 {

}

.posts h2 {
    font-size: 14px;
}

.posts h3 {
    font-size: 20px;
}

.footer {
    height: 151px;
    min-width: 1300px;
    background-color: #2F4F4F;
    padding-top: 35px;
    position: inherit;
    margin-top: 50px;
}

.footer_txt {
    position: inherit;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 20px;
}

.footer_txt a {
    color: white;
    text-decoration: none;
}

.btn-default {
    color: black;
}

.outside {
    border: 1px solid #d7d8db;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
    padding-bottom: 20px;
    background-color: white;
}

.input {
    margin-left: 20%;
    font-family: 'Segoe UI', sans-serif;

}


form {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    margin-top: 30px;
}

form input {
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #d7d8db;

}

form textarea {
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #d7d8db;
}

button {
    border-radius: 3px;
    background-color: #edeef0;
    border: 1px solid;
    border-color: #d7d8db;
    padding: 5px 5px 5px 5px;
    margin-left: 30%;
}

label {
    font-weight: 500;
}

.input h1 {
    font-weight: 100;
}

.box {
    border: 1px solid #d7d8db;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 50px;
    width: 50%;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

.box label {
    margin-left:20px;
}

.box span {
    margin-left: 10px;
}

.box h2 {
   margin-left: 35%;
}

.box button {
    margin-left: 45%;
}





