 {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/newBlogg.css' %}">
    <meta charset="UTF-8">
    <title>Blogg</title>
</head>
    <body>
    <div class="header">
        <a href="{% url 'post_list' %}">Vblogge</a>
    </div>

    {% block content %}

    {% endblock %}

        </div>
    </body>
</html>