{% extends 'newBlogg/index.html' %}
{% load staticfiles %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/newBlogg.css' %}">
    <div class="content-box">
                <div class="posts">
                    <h1><a href="{% url 'post_info' pk=post.pk %}">{{ post.title }}</a> <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
                    <h3>{{ post.text }}</h3>
                    <h2>Опубликовано: {{ post.pubDate }}. Автор: {{ post.author }}</h2>
                </div>
            </div>
{% endblock %}