<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="title">
        <p>The new version of old Blogg</p>
    </div>

    <div class="post1">
        <h1><a href="#">Post one.</a></h1>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                <p>Published date: 17.02.2018</p>
    </div>

    <div class="post2">
        <h1><a href="#">Post two.</a></h1>
            <p>Donec id elit non mi porta gravida at eget metus.</p>
                <p>Published date: 17.02.2018</p>
        </div>

        <div class="post3">
            <h1><a href="#">Post three.</a></h1>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>Published date: 18.02.2017</p>
        </div>
</body>
</html>